@page "/tables"

@using Topaz.Data.Service
@using Scaffold.Model
@inherits Topaz.Data.ImportDataComponent

<h1>Снова таблицы, huh?</h1>

<div class="content">
    <div class="table-wrapper">
        @switch (ViewDataStatus)
        {
            case ViewData.MeasureInfo:
                <DataGrid TItem="MeasureInfo"
                          Data="@DataViewMeasureInfos"
                          ReadData="@OnReadData"
                          PageSize="10"
                          TotalItems="@Total"
                          ShowPager
                          Responsive>
                    <DataGridCommandColumn/>
                    <DataGridColumn Field="@nameof(MeasureInfo.Protocol)" Caption="#" Sortable="false"/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyAbbr)" Caption="First Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyType)" Caption="Last Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyFullname)" Caption="Salary" Editable>
                        <EditTemplate>
                            <NumericEdit TValue="decimal" Value="@((decimal)context.CellValue)" ValueChanged="@(v => context.CellValue = v)"/>
                        </EditTemplate>
                    </DataGridColumn>
                </DataGrid>
                break;
            case ViewData.Measure:
                <DataGrid TItem="Measure"
                          @ref="_dataGrid"
                          Data="@DataViewMeasure"
                          ReadData="@OnReadData"
                          PageSize="10"
                          TotalItems="@Total"
                          ShowPager="true"
                          Responsive
                          Editable
                          Filterable
                          Sortable
                          FilterMode="DataGridFilterMode.Menu"
                          SortMode="DataGridSortMode.Multiple">
                    <DataGridColumn Field="@nameof(Measure.Place)" Caption="Место контроля" Editable/>
                    <DataGridColumn Field="@nameof(Measure.Equipment)" Caption="Измерительное оборудование" Editable/>
                    <DataGridColumn Field="@nameof(Measure.Conditions)" Caption="Условия контроля" Editable/>
                    <DataGridColumn Field="@nameof(Measure.StartMeasure)" Caption="Дата начала контроля" Editable/>
                    <DataGridColumn Field="@nameof(Measure.EndMeasure)" Caption="Дата конца контроля" Editable/>
                    <DataGridCommandColumn/>
                </DataGrid>
                break;
            case ViewData.ReferanceInfo:
                <DataGrid TItem="MeasureInfo"
                          Data="@DataViewMeasureInfos"
                          ReadData="@OnReadData"
                          PageSize="10"
                          TotalItems="@Total"
                          ShowPager
                          Responsive>
                    <DataGridCommandColumn/>
                    <DataGridColumn Field="@nameof(MeasureInfo.Protocol)" Caption="#" Sortable="false"/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyAbbr)" Caption="First Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyType)" Caption="Last Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyFullname)" Caption="Salary" Editable>
                        <EditTemplate>
                            <NumericEdit TValue="decimal" Value="@((decimal)context.CellValue)" ValueChanged="@(v => context.CellValue = v)"/>
                        </EditTemplate>
                    </DataGridColumn>
                </DataGrid>
                break;
            case ViewData.MessagingMetrics:
                <DataGrid TItem="MeasureInfo"
                          Data="@DataViewMeasureInfos"
                          ReadData="@OnReadData"
                          PageSize="10"
                          TotalItems="@Total"
                          ShowPager
                          Responsive>
                    <DataGridCommandColumn/>
                    <DataGridColumn Field="@nameof(MeasureInfo.Protocol)" Caption="#" Sortable="false"/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyAbbr)" Caption="First Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyType)" Caption="Last Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyFullname)" Caption="Salary" Editable>
                        <EditTemplate>
                            <NumericEdit TValue="decimal" Value="@((decimal)context.CellValue)" ValueChanged="@(v => context.CellValue = v)"/>
                        </EditTemplate>
                    </DataGridColumn>
                </DataGrid>
                break;
            case ViewData.ReferanceMetricsInfo:
                <DataGrid TItem="MeasureInfo"
                          Data="@DataViewMeasureInfos"
                          ReadData="@OnReadData"
                          PageSize="10"
                          TotalItems="@Total"
                          ShowPager
                          Responsive>
                    <DataGridCommandColumn/>
                    <DataGridColumn Field="@nameof(MeasureInfo.Protocol)" Caption="#" Sortable="false"/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyAbbr)" Caption="First Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyType)" Caption="Last Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyFullname)" Caption="Salary" Editable>
                        <EditTemplate>
                            <NumericEdit TValue="decimal" Value="@((decimal)context.CellValue)" ValueChanged="@(v => context.CellValue = v)"/>
                        </EditTemplate>
                    </DataGridColumn>
                </DataGrid>
                break;
            case ViewData.HttpTransmittingMetric:
                <DataGrid TItem="MeasureInfo"
                          Data="@DataViewMeasureInfos"
                          ReadData="@OnReadData"
                          PageSize="10"
                          TotalItems="@Total"
                          ShowPager
                          Responsive
                          FilterMode="DataGridFilterMode.Menu">
                    <DataGridCommandColumn/>
                    <DataGridColumn Field="@nameof(MeasureInfo.Protocol)" Caption="#" Sortable="false"/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyAbbr)" Caption="First Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyType)" Caption="Last Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyFullname)" Caption="Salary" Editable>
                        <EditTemplate>
                            <NumericEdit TValue="decimal" Value="@((decimal)context.CellValue)" ValueChanged="@(v => context.CellValue = v)"/>
                        </EditTemplate>
                    </DataGridColumn>
                </DataGrid>
                break;
            case ViewData.VoiceConnectionMetric:
                <DataGrid TItem="MeasureInfo"
                          Data="@DataViewMeasureInfos"
                          ReadData="@OnReadData"
                          PageSize="10"
                          TotalItems="@Total"
                          ShowPager
                          Responsive>
                    <DataGridCommandColumn/>
                    <DataGridColumn Field="@nameof(MeasureInfo.Protocol)" Caption="#" Sortable="false"/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyAbbr)" Caption="First Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyType)" Caption="Last Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyFullname)" Caption="Salary" Editable>
                        <EditTemplate>
                            <NumericEdit TValue="decimal" Value="@((decimal)context.CellValue)" ValueChanged="@(v => context.CellValue = v)"/>
                        </EditTemplate>
                    </DataGridColumn>
                </DataGrid>
                break;
            default:
                throw new ArgumentOutOfRangeException();
        }
    
        <div class="filters">
            <button class="save">Сохранить</button>
    
            <div class="filters-menu">
                <div class="filter-item file">
                    <Field>
                        <FileEdit @ref="fileEdit" Changed="OnChanged" Filter=".xls, .xlsx" Multiple/>
                    </Field>
    
                    <button @onclick="UploadFiles">Upload Files</button>
                </div>
            </div>
    
            <button class="cancel">Отмена</button>
        </div>
    </div>
    <div class="table-wrapper">
        @switch (ViewDataStatus)
        {
            case ViewData.MeasureInfo:
                <DataGrid TItem="MeasureInfo"
                          Data="@DataViewMeasureInfos"
                          ReadData="@OnReadData"
                          PageSize="10"
                          TotalItems="@Total"
                          ShowPager
                          Responsive>
                    <DataGridCommandColumn/>
                    <DataGridColumn Field="@nameof(MeasureInfo.Protocol)" Caption="#" Sortable="false"/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyAbbr)" Caption="First Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyType)" Caption="Last Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyFullname)" Caption="Salary" Editable>
                        <EditTemplate>
                            <NumericEdit TValue="decimal" Value="@((decimal)context.CellValue)" ValueChanged="@(v => context.CellValue = v)"/>
                        </EditTemplate>
                    </DataGridColumn>
                </DataGrid>
                break;
            case ViewData.Measure:
                <DataGrid TItem="Measure"
                          @ref="_dataGrid"
                          Data="@DataViewMeasure"
                          ReadData="@OnReadData"
                          PageSize="10"
                          TotalItems="@Total"
                          ShowPager="true"
                          Responsive
                          Editable
                          Filterable
                          Sortable
                          FilterMode="DataGridFilterMode.Menu"
                          SortMode="DataGridSortMode.Multiple">
                    <DataGridColumn Field="@nameof(Measure.Place)" Caption="Место контроля" Editable/>
                    <DataGridColumn Field="@nameof(Measure.Equipment)" Caption="Измерительное оборудование" Editable/>
                    <DataGridColumn Field="@nameof(Measure.Conditions)" Caption="Условия контроля" Editable/>
                    <DataGridColumn Field="@nameof(Measure.StartMeasure)" Caption="Дата начала контроля" Editable/>
                    <DataGridColumn Field="@nameof(Measure.EndMeasure)" Caption="Дата конца контроля" Editable/>
                    <DataGridCommandColumn/>
                </DataGrid>
                break;
            case ViewData.ReferanceInfo:
                <DataGrid TItem="MeasureInfo"
                          Data="@DataViewMeasureInfos"
                          ReadData="@OnReadData"
                          PageSize="10"
                          TotalItems="@Total"
                          ShowPager
                          Responsive>
                    <DataGridCommandColumn/>
                    <DataGridColumn Field="@nameof(MeasureInfo.Protocol)" Caption="#" Sortable="false"/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyAbbr)" Caption="First Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyType)" Caption="Last Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyFullname)" Caption="Salary" Editable>
                        <EditTemplate>
                            <NumericEdit TValue="decimal" Value="@((decimal)context.CellValue)" ValueChanged="@(v => context.CellValue = v)"/>
                        </EditTemplate>
                    </DataGridColumn>
                </DataGrid>
                break;
            case ViewData.MessagingMetrics:
                <DataGrid TItem="MeasureInfo"
                          Data="@DataViewMeasureInfos"
                          ReadData="@OnReadData"
                          PageSize="10"
                          TotalItems="@Total"
                          ShowPager
                          Responsive>
                    <DataGridCommandColumn/>
                    <DataGridColumn Field="@nameof(MeasureInfo.Protocol)" Caption="#" Sortable="false"/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyAbbr)" Caption="First Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyType)" Caption="Last Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyFullname)" Caption="Salary" Editable>
                        <EditTemplate>
                            <NumericEdit TValue="decimal" Value="@((decimal)context.CellValue)" ValueChanged="@(v => context.CellValue = v)"/>
                        </EditTemplate>
                    </DataGridColumn>
                </DataGrid>
                break;
            case ViewData.ReferanceMetricsInfo:
                <DataGrid TItem="MeasureInfo"
                          Data="@DataViewMeasureInfos"
                          ReadData="@OnReadData"
                          PageSize="10"
                          TotalItems="@Total"
                          ShowPager
                          Responsive>
                    <DataGridCommandColumn/>
                    <DataGridColumn Field="@nameof(MeasureInfo.Protocol)" Caption="#" Sortable="false"/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyAbbr)" Caption="First Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyType)" Caption="Last Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyFullname)" Caption="Salary" Editable>
                        <EditTemplate>
                            <NumericEdit TValue="decimal" Value="@((decimal)context.CellValue)" ValueChanged="@(v => context.CellValue = v)"/>
                        </EditTemplate>
                    </DataGridColumn>
                </DataGrid>
                break;
            case ViewData.HttpTransmittingMetric:
                <DataGrid TItem="MeasureInfo"
                          Data="@DataViewMeasureInfos"
                          ReadData="@OnReadData"
                          PageSize="10"
                          TotalItems="@Total"
                          ShowPager
                          Responsive
                          FilterMode="DataGridFilterMode.Menu">
                    <DataGridCommandColumn/>
                    <DataGridColumn Field="@nameof(MeasureInfo.Protocol)" Caption="#" Sortable="false"/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyAbbr)" Caption="First Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyType)" Caption="Last Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyFullname)" Caption="Salary" Editable>
                        <EditTemplate>
                            <NumericEdit TValue="decimal" Value="@((decimal)context.CellValue)" ValueChanged="@(v => context.CellValue = v)"/>
                        </EditTemplate>
                    </DataGridColumn>
                </DataGrid>
                break;
            case ViewData.VoiceConnectionMetric:
                <DataGrid TItem="MeasureInfo"
                          Data="@DataViewMeasureInfos"
                          ReadData="@OnReadData"
                          PageSize="10"
                          TotalItems="@Total"
                          ShowPager
                          Responsive>
                    <DataGridCommandColumn/>
                    <DataGridColumn Field="@nameof(MeasureInfo.Protocol)" Caption="#" Sortable="false"/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyAbbr)" Caption="First Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyType)" Caption="Last Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyFullname)" Caption="Salary" Editable>
                        <EditTemplate>
                            <NumericEdit TValue="decimal" Value="@((decimal)context.CellValue)" ValueChanged="@(v => context.CellValue = v)"/>
                        </EditTemplate>
                    </DataGridColumn>
                </DataGrid>
                break;
            default:
                throw new ArgumentOutOfRangeException();
        }
    
        <div class="filters">
            <button class="save">Сохранить</button>
    
            <div class="filters-menu">
                <div class="filter-item file">
                    <Field>
                        <FileEdit @ref="fileEdit" Changed="OnChanged" Filter=".xls, .xlsx" Multiple/>
                    </Field>
    
                    <button @onclick="UploadFiles">Upload Files</button>
                </div>
            </div>
    
            <button class="cancel">Отмена</button>
        </div>
    </div>
    <div class="table-wrapper">
        @switch (ViewDataStatus)
        {
            case ViewData.MeasureInfo:
                <DataGrid TItem="MeasureInfo"
                          Data="@DataViewMeasureInfos"
                          ReadData="@OnReadData"
                          PageSize="10"
                          TotalItems="@Total"
                          ShowPager
                          Responsive>
                    <DataGridCommandColumn/>
                    <DataGridColumn Field="@nameof(MeasureInfo.Protocol)" Caption="#" Sortable="false"/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyAbbr)" Caption="First Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyType)" Caption="Last Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyFullname)" Caption="Salary" Editable>
                        <EditTemplate>
                            <NumericEdit TValue="decimal" Value="@((decimal)context.CellValue)" ValueChanged="@(v => context.CellValue = v)"/>
                        </EditTemplate>
                    </DataGridColumn>
                </DataGrid>
                break;
            case ViewData.Measure:
                <DataGrid TItem="Measure"
                          @ref="_dataGrid"
                          Data="@DataViewMeasure"
                          ReadData="@OnReadData"
                          PageSize="10"
                          TotalItems="@Total"
                          ShowPager="true"
                          Responsive
                          Editable
                          Filterable
                          Sortable
                          FilterMode="DataGridFilterMode.Menu"
                          SortMode="DataGridSortMode.Multiple">
                    <DataGridColumn Field="@nameof(Measure.Place)" Caption="Место контроля" Editable/>
                    <DataGridColumn Field="@nameof(Measure.Equipment)" Caption="Измерительное оборудование" Editable/>
                    <DataGridColumn Field="@nameof(Measure.Conditions)" Caption="Условия контроля" Editable/>
                    <DataGridColumn Field="@nameof(Measure.StartMeasure)" Caption="Дата начала контроля" Editable/>
                    <DataGridColumn Field="@nameof(Measure.EndMeasure)" Caption="Дата конца контроля" Editable/>
                    <DataGridCommandColumn/>
                </DataGrid>
                break;
            case ViewData.ReferanceInfo:
                <DataGrid TItem="MeasureInfo"
                          Data="@DataViewMeasureInfos"
                          ReadData="@OnReadData"
                          PageSize="10"
                          TotalItems="@Total"
                          ShowPager
                          Responsive>
                    <DataGridCommandColumn/>
                    <DataGridColumn Field="@nameof(MeasureInfo.Protocol)" Caption="#" Sortable="false"/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyAbbr)" Caption="First Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyType)" Caption="Last Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyFullname)" Caption="Salary" Editable>
                        <EditTemplate>
                            <NumericEdit TValue="decimal" Value="@((decimal)context.CellValue)" ValueChanged="@(v => context.CellValue = v)"/>
                        </EditTemplate>
                    </DataGridColumn>
                </DataGrid>
                break;
            case ViewData.MessagingMetrics:
                <DataGrid TItem="MeasureInfo"
                          Data="@DataViewMeasureInfos"
                          ReadData="@OnReadData"
                          PageSize="10"
                          TotalItems="@Total"
                          ShowPager
                          Responsive>
                    <DataGridCommandColumn/>
                    <DataGridColumn Field="@nameof(MeasureInfo.Protocol)" Caption="#" Sortable="false"/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyAbbr)" Caption="First Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyType)" Caption="Last Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyFullname)" Caption="Salary" Editable>
                        <EditTemplate>
                            <NumericEdit TValue="decimal" Value="@((decimal)context.CellValue)" ValueChanged="@(v => context.CellValue = v)"/>
                        </EditTemplate>
                    </DataGridColumn>
                </DataGrid>
                break;
            case ViewData.ReferanceMetricsInfo:
                <DataGrid TItem="MeasureInfo"
                          Data="@DataViewMeasureInfos"
                          ReadData="@OnReadData"
                          PageSize="10"
                          TotalItems="@Total"
                          ShowPager
                          Responsive>
                    <DataGridCommandColumn/>
                    <DataGridColumn Field="@nameof(MeasureInfo.Protocol)" Caption="#" Sortable="false"/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyAbbr)" Caption="First Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyType)" Caption="Last Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyFullname)" Caption="Salary" Editable>
                        <EditTemplate>
                            <NumericEdit TValue="decimal" Value="@((decimal)context.CellValue)" ValueChanged="@(v => context.CellValue = v)"/>
                        </EditTemplate>
                    </DataGridColumn>
                </DataGrid>
                break;
            case ViewData.HttpTransmittingMetric:
                <DataGrid TItem="MeasureInfo"
                          Data="@DataViewMeasureInfos"
                          ReadData="@OnReadData"
                          PageSize="10"
                          TotalItems="@Total"
                          ShowPager
                          Responsive
                          FilterMode="DataGridFilterMode.Menu">
                    <DataGridCommandColumn/>
                    <DataGridColumn Field="@nameof(MeasureInfo.Protocol)" Caption="#" Sortable="false"/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyAbbr)" Caption="First Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyType)" Caption="Last Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyFullname)" Caption="Salary" Editable>
                        <EditTemplate>
                            <NumericEdit TValue="decimal" Value="@((decimal)context.CellValue)" ValueChanged="@(v => context.CellValue = v)"/>
                        </EditTemplate>
                    </DataGridColumn>
                </DataGrid>
                break;
            case ViewData.VoiceConnectionMetric:
                <DataGrid TItem="MeasureInfo"
                          Data="@DataViewMeasureInfos"
                          ReadData="@OnReadData"
                          PageSize="10"
                          TotalItems="@Total"
                          ShowPager
                          Responsive>
                    <DataGridCommandColumn/>
                    <DataGridColumn Field="@nameof(MeasureInfo.Protocol)" Caption="#" Sortable="false"/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyAbbr)" Caption="First Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyType)" Caption="Last Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyFullname)" Caption="Salary" Editable>
                        <EditTemplate>
                            <NumericEdit TValue="decimal" Value="@((decimal)context.CellValue)" ValueChanged="@(v => context.CellValue = v)"/>
                        </EditTemplate>
                    </DataGridColumn>
                </DataGrid>
                break;
            default:
                throw new ArgumentOutOfRangeException();
        }
    
        <div class="filters">
            <button class="save">Сохранить</button>
    
            <div class="filters-menu">
                <div class="filter-item file">
                    <Field>
                        <FileEdit @ref="fileEdit" Changed="OnChanged" Filter=".xls, .xlsx" Multiple/>
                    </Field>
    
                    <button @onclick="UploadFiles">Upload Files</button>
                </div>
            </div>
    
            <button class="cancel">Отмена</button>
        </div>
    </div>
    <div class="table-wrapper">
        @switch (ViewDataStatus)
        {
            case ViewData.MeasureInfo:
                <DataGrid TItem="MeasureInfo"
                          Data="@DataViewMeasureInfos"
                          ReadData="@OnReadData"
                          PageSize="10"
                          TotalItems="@Total"
                          ShowPager
                          Responsive>
                    <DataGridCommandColumn/>
                    <DataGridColumn Field="@nameof(MeasureInfo.Protocol)" Caption="#" Sortable="false"/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyAbbr)" Caption="First Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyType)" Caption="Last Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyFullname)" Caption="Salary" Editable>
                        <EditTemplate>
                            <NumericEdit TValue="decimal" Value="@((decimal)context.CellValue)" ValueChanged="@(v => context.CellValue = v)"/>
                        </EditTemplate>
                    </DataGridColumn>
                </DataGrid>
                break;
            case ViewData.Measure:
                <DataGrid TItem="Measure"
                          @ref="_dataGrid"
                          Data="@DataViewMeasure"
                          ReadData="@OnReadData"
                          PageSize="10"
                          TotalItems="@Total"
                          ShowPager="true"
                          Responsive
                          Editable
                          Filterable
                          Sortable
                          FilterMode="DataGridFilterMode.Menu"
                          SortMode="DataGridSortMode.Multiple">
                    <DataGridColumn Field="@nameof(Measure.Place)" Caption="Место контроля" Editable/>
                    <DataGridColumn Field="@nameof(Measure.Equipment)" Caption="Измерительное оборудование" Editable/>
                    <DataGridColumn Field="@nameof(Measure.Conditions)" Caption="Условия контроля" Editable/>
                    <DataGridColumn Field="@nameof(Measure.StartMeasure)" Caption="Дата начала контроля" Editable/>
                    <DataGridColumn Field="@nameof(Measure.EndMeasure)" Caption="Дата конца контроля" Editable/>
                    <DataGridCommandColumn/>
                </DataGrid>
                break;
            case ViewData.ReferanceInfo:
                <DataGrid TItem="MeasureInfo"
                          Data="@DataViewMeasureInfos"
                          ReadData="@OnReadData"
                          PageSize="10"
                          TotalItems="@Total"
                          ShowPager
                          Responsive>
                    <DataGridCommandColumn/>
                    <DataGridColumn Field="@nameof(MeasureInfo.Protocol)" Caption="#" Sortable="false"/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyAbbr)" Caption="First Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyType)" Caption="Last Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyFullname)" Caption="Salary" Editable>
                        <EditTemplate>
                            <NumericEdit TValue="decimal" Value="@((decimal)context.CellValue)" ValueChanged="@(v => context.CellValue = v)"/>
                        </EditTemplate>
                    </DataGridColumn>
                </DataGrid>
                break;
            case ViewData.MessagingMetrics:
                <DataGrid TItem="MeasureInfo"
                          Data="@DataViewMeasureInfos"
                          ReadData="@OnReadData"
                          PageSize="10"
                          TotalItems="@Total"
                          ShowPager
                          Responsive>
                    <DataGridCommandColumn/>
                    <DataGridColumn Field="@nameof(MeasureInfo.Protocol)" Caption="#" Sortable="false"/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyAbbr)" Caption="First Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyType)" Caption="Last Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyFullname)" Caption="Salary" Editable>
                        <EditTemplate>
                            <NumericEdit TValue="decimal" Value="@((decimal)context.CellValue)" ValueChanged="@(v => context.CellValue = v)"/>
                        </EditTemplate>
                    </DataGridColumn>
                </DataGrid>
                break;
            case ViewData.ReferanceMetricsInfo:
                <DataGrid TItem="MeasureInfo"
                          Data="@DataViewMeasureInfos"
                          ReadData="@OnReadData"
                          PageSize="10"
                          TotalItems="@Total"
                          ShowPager
                          Responsive>
                    <DataGridCommandColumn/>
                    <DataGridColumn Field="@nameof(MeasureInfo.Protocol)" Caption="#" Sortable="false"/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyAbbr)" Caption="First Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyType)" Caption="Last Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyFullname)" Caption="Salary" Editable>
                        <EditTemplate>
                            <NumericEdit TValue="decimal" Value="@((decimal)context.CellValue)" ValueChanged="@(v => context.CellValue = v)"/>
                        </EditTemplate>
                    </DataGridColumn>
                </DataGrid>
                break;
            case ViewData.HttpTransmittingMetric:
                <DataGrid TItem="MeasureInfo"
                          Data="@DataViewMeasureInfos"
                          ReadData="@OnReadData"
                          PageSize="10"
                          TotalItems="@Total"
                          ShowPager
                          Responsive
                          FilterMode="DataGridFilterMode.Menu">
                    <DataGridCommandColumn/>
                    <DataGridColumn Field="@nameof(MeasureInfo.Protocol)" Caption="#" Sortable="false"/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyAbbr)" Caption="First Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyType)" Caption="Last Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyFullname)" Caption="Salary" Editable>
                        <EditTemplate>
                            <NumericEdit TValue="decimal" Value="@((decimal)context.CellValue)" ValueChanged="@(v => context.CellValue = v)"/>
                        </EditTemplate>
                    </DataGridColumn>
                </DataGrid>
                break;
            case ViewData.VoiceConnectionMetric:
                <DataGrid TItem="MeasureInfo"
                          Data="@DataViewMeasureInfos"
                          ReadData="@OnReadData"
                          PageSize="10"
                          TotalItems="@Total"
                          ShowPager
                          Responsive>
                    <DataGridCommandColumn/>
                    <DataGridColumn Field="@nameof(MeasureInfo.Protocol)" Caption="#" Sortable="false"/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyAbbr)" Caption="First Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyType)" Caption="Last Name" Editable/>
                    <DataGridColumn Field="@nameof(MeasureInfo.CompanyFullname)" Caption="Salary" Editable>
                        <EditTemplate>
                            <NumericEdit TValue="decimal" Value="@((decimal)context.CellValue)" ValueChanged="@(v => context.CellValue = v)"/>
                        </EditTemplate>
                    </DataGridColumn>
                </DataGrid>
                break;
            default:
                throw new ArgumentOutOfRangeException();
        }
    
        <div class="filters">
            <button class="save">Сохранить</button>
    
            <div class="filters-menu">
                <div class="filter-item file">
                    <Field>
                        <FileEdit @ref="fileEdit" Changed="OnChanged" Filter=".xls, .xlsx" Multiple/>
                    </Field>
    
                    <button @onclick="UploadFiles">Upload Files</button>
                </div>
            </div>
    
            <button class="cancel">Отмена</button>
        </div>
    </div>
</div>

@code {
    
}